.titolo {
    background-color: rgb(134, 134, 202);
    text-align: center;
    font-size: x-large;
    padding: 1%;
}

.divForm {
    background-color: rgb(206, 206, 206);
    padding: 2%;
    width: 75%;
    margin: auto;
    font-size: large;
}

body {
    background-color: rgb(235, 235, 235);
}